{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="Song-details">
    <h4 class="text-center">Song Name: {{song.name}}</h4>
    <hr class="bg-info w-50" style="height: 2px" />
    <div class="d-flex justify-content-center">
        <iframe src="{{song.link}}" class="w-50" height="380"></iframe>
    </div>
    <hr class="bg-info w-50" style="height: 2px" />
</div>
<hr class="bg-info w-50" style="height: 2px" />
<div class="d-flex justify-content-around">
    <a class="btn bg-info text-white mt-4" href="/albums">Back To Albums</a>
    <a class="btn bg-info text-white mt-4" href="/deletesong/{{song.id}}">Delete the song</a>
</div>
{% endblock %}